fastapi[standard]
uvicorn[standard]
sqlalchemy[asyncio]
aiomysql
PyMySQL
pydantic
pydantic-settings
python-dotenv

python-jose[cryptography]
passlib
bcrypt==4.0.1

httpx
python-multipart

alembic

ujson